* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo img {
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

 
.hero {
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    padding: 70px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 90px;
}

.hero p {
    font-size: 10px;
    margin: 10px 0;
    padding-right: 250px;
}

.image-container img {
    width: 90%;
    max-width: 400px;
    margin-top: 10px;
    border-radius: 20px;
}

.pagination {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}




.design-white {
    width: 100%;
    background-color: black;
    padding: 170px 20px;
    text-align: center;
}
.design-white h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 50px;
}

.design-white h1 {
    font-size: 120px;
    font-weight: bold;
    color: #777;
}

.design-white h1 span {
    color: white;
}

.design-white p {
    font-size: 18px;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.5;
}

.read-more {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 16px;
}



.news {
    background-color: #111;
    color: white;
    padding: 50px;
    text-align: center;
}

.news h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 50px;
}

.news-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.news-item {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    margin: 40px;
}

.news-item img {
    width: 100%;
    border-radius: 5px;
}

.news-item p {
    font-size: 1rem;
    margin: 10px 0;
}

.news-item span {
    font-size: 0.8rem;
    color: gray;
}




.services {
    background-color: #f5f8fa;
    padding: 100px 50px;
    width: 100%;
    height: 100%;
}


.services-header span {
    font-size: 30px;
    font-weight: bold;
    color: #080808d8;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}

.services-content h1 {
    font-size: 83px;
    font-weight: 315px;
    line-height: 150px;
    color: #222;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.services-content .read-more {
    font-size: 1rem;
    color: #6e6b6b;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
}

.services-content .read-more:hover {
    text-decoration: underline;
}



.contact {
    background-color: #f5f8fa;
    padding: 100px 100px;
    text-align: left;
}

.contact-header span {
    font-size: 30px;
    font-weight: bold;
    color: #0c0b0b;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 99px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-item img {
    width: 40px;
    height: 40px;
    opacity: 0.4;
}

.contact-item p {
    font-size: 1rem;
    color: #333;
}




.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    
}
.footer-content {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center;
    height: 82vh;
    gap: 20px; 
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo h2 {
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
}

.footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 1rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #888;
}
